body{
  background-color: aliceblue;
}
.Post{
  border-radius: 5px;
  border: 2px solid cadetblue;
  width: 50%;
  margin: 50px auto;
  padding: 30px;
}
h1{
  width: 100%;
  background-color: cadetblue;
  position: absolute;
  top: -24px;
}

button{
  background-color: cadetblue;
  min-height: 35px;
  width: 75px;    
  border-radius: 9px;
  border: 1px solid transparent;
  cursor: pointer;
}