body{
  background-color: aliceblue;
}
.Post{
  border-radius: 5px;
  border: 2px solid cadetblue;
  width: 50%;
  margin: 50px auto;
  padding: 30px;
}
h1{
  width: 100%;
  background-color: cadetblue;
  position: absolute;
  top: -24px;
}

button{
  background-color: cadetblue;
  min-height: 35px;
  width: 75px;    
  border-radius: 20px;
  border: 1px solid transparent;
  cursor: pointer;
}
button:active{
  background-color: #3c8486;
  color: white;
  position: relative;
  top: 1px;
}
button:hover{
  background-color: #4b7d7f;
  color: white;
}